.App {
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgb(249, 249, 249);
}

.wrapper {
  display: flex;
  background-color: #fff;
}

.wrapper .result-img-container {
  text-align: center;
  position: relative;
}

#base-canvas {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

#mask-canvas {
  display: none;
}

.wrapper .input-form-container {
  margin-left: 5%;
}

.wrapper .input-form-container .title {
  font-weight: 500;
  color: #343434;
  margin-top: 10px;
  margin-bottom: 5px;
}

.wrapper .input-form-container .value {
  width: 80%;
}

.wrapper .input-form-container .sex_container .sex_switch {
  background-color: rgb(148, 171, 255);
  color: #fff;
  margin-right: 10px;
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper .input-form-container .sex_container .sex_switch.active {
  background-color: rgb(90, 124, 249);
}

.wrapper .input-form-container .sub_btn {
  display: block;
}
